
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content:space-evenly;
}

.column {
  flex: 'flex-grow';
  padding: 5px;

}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
