
@media screen and (max-width: 400px) {
  .column {
    width: 50%;
    margin: auto;
  }

  .row {
    flex-direction: column;
    justify-content: center;
  }
  label {
    font-family: "Georgia", serif;
    font-size: 10px;
  }
}
