
@media screen and (max-width: 400px) {
  .column {
    width: 100%;
    margin: auto;
    flex: initial;
    padding: initial;
  }

  .row {
    flex-direction: column;
    
  }

  .vertical {
    width: 100%;
  }
  .panel  {
    width: 100%;
  }

  .text {
    font-family: initial;
    padding: initial;
  }

  .panel label {
    display: none
  }


}
