.row {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.linkIcon {
  width: 100px;
  height: 100px;
}
.row h1 {
  text-align: center;
  font-family: "Arial Black", serif;
  padding: 10px;
}
