* {
  box-sizing: border-box;
}

body {
  margin: 100px;
}

a {
  cursor: pointer;
}

#ParentSection h1 {
  cursor: pointer;
}

#ChildSection:hover {
  border-style: solid;
  border-color: black;
  border-radius: 25px;
}
